* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

BODY {
  background-image: url("./img/fond.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
 
}

.menubar {
  background: #7654d3;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
}
nav .logo {
  display: inline-flex;
  align-items: center;
}
nav .logo img {
  height: 30px;
  width: 30px;
}
nav .logo h2 {
  margin-left: 10px;
  color: black;
  cursor: pointer;
}
nav .logo h2 span {
  color: #ea1538;
}
nav ul li {
  list-style-type: none;
  display: inline-flex;
  padding: 5px 20px;
}
nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding: 8px;
  transition: all 0.3s;
  background: none;
  font-size: 18px;
}
nav ul li a:hover {
  color: #ea1538;
  border-bottom: 2px solid #fff;
  border-radius: 10px;
}
nav a {
  color: black;
  text-decoration: none;
  padding: 12px 30px;
  background: #ea1538;
  border-radius: 30px;
  font-weight: bold;
  font-size: 16;
  transition: all 0.3s;
  cursor: pointer;
}
nav a:hover {
  transform: scale(1.2);
}



.container{
  display: flex;
  align-items: stretch;

}
.left{
  background-color: #7654d3;
  
}
.left img{
  margin-left: auto;
  margin-right: auto;
  width: 6em;
}
.left ul li a{
  color: white;
  font-size: 18px;
}
.left ul li a:hover{
  color:  #ea1538;
}
.left ul li {
  padding:  40px 20px;
  text-transform: uppercase;
}
.center{
  padding-left: 60px;
}
.right{
  box-shadow: 0px 10px 12px 0px rgb(0, 34, 253),0px 10px 12px 0px  rgb(0, 34, 253);
  padding: 18px;
}
.right p{
  margin-bottom: 8px;
}