  /* COLOR CUSTOME */
  :root {
    --darkColor: #242424;
    --bgColor: #f9f3f3;
    --textWhite: #ffffff;
    --secondeColor: #5d3eb3;
  }
  
  /* GENERAL CUSTOME */
  * {
    font-family: Roboto, sans-serif;
    font-weight: lighter;
    transition: 0.1s ease 0.15s;
  }
  body {
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
    color: var(--bg-color);
    font-size: 16px;
    font-weight: bold;
  }
  h1{
      cursor: pointer;
  }
  p{
      cursor: pointer;
  }
  .container {
    /*margin: 0.3rem;
    padding: 1.5rem;*/
    background: #7654d3;
    height: 70px;

  }
  .navBar {
    position: sticky;
    top: 0;
    /*color: #591fff;  */
    border-bottom: 1px solid #941299;
    z-index: 999;
  }
  .navContent {
    display: flex;
    /*flex-direction: row;*/
    justify-content: space-between;
  }
  /*.logo > h1 {
    font-weight: 800;
    color: var(--darkColor);
  }
  .logo > h1 > .NavClr {
    color: var(--secondeColor);
    font-weight: 300;
  }*/
  .barre-nav{
    margin-right: 18px;
  }
  .barre-nav p{
    font-size: 18px;
    padding-right: 20px;
  }
  @media screen and (min-width: 1024px) {
    /* NAVBAR */
    .navbar {
      top: 0;
      position: sticky;
      z-index: 999;
    }
    .navContent {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    /*.logo > h1 {
      font-weight: 800;
      color: var(--darkColor);
    }
    .logo > h1 > .NavClr {
      color: var(--secondeColor);
      font-weight: 300;
    }*/
    .menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 1rem;
      margin-top: 1px;
    }
    .linksMenu {
      list-style: none;
      padding-left: 2rem;
      color: rgb(255, 255, 255);
      cursor: pointer;
    }
    .linksMenu a{
      display: flex;
      justify-content: space-around;
      align-items: center;
      /* background: #aa1491; */
      border-radius: 7px;
      width: 90px;
      height: 40px;
      transition: 1;
      cursor: pointer;
    }
    .linksMenu:hover a{
      background: #e4dbdb;
      color: #591fff;
    }
    .burgerMenu {
      display: none;
    }
    #links {
      display: none;
    }
  }
  
  /* RESPONSIVE DEVICE */
  @media screen and (max-width: 1024px) {
    .burgerIcon {
      display: flex;
      color: #242424;
      padding-top: 1.7rem;
      visibility: visible;
    }
    .menu {
      display: none;
    }
    #sideMenu {
      display: none;
    }
    #sideMenu.active {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .linksMenu {
      list-style: none;
      padding-bottom: 2rem;
    }
    .linksMenu:hover {
      color: #591fff;
    }
  }
  /* Accueil*/
  
  /*.barre-nav{
    background-color: rgb(73, 178, 204);
    background-size: 100%;
    z-index: 1;
  }*/
  #loyenge{
    margin: 0;
    background: url(img/fond.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  #logo{
    position: absolute;
    top: 0.5%;
    left: 2%;
  }
  .loyenge-text{
    text-align: center;
    color: #fff;
    padding-top: 100px;
    z-index: 0;
  }
  .loyenge-text h1{
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 3px;
  }
  .loyenge-text p{
    font-size: 25px;
    font-style: italic;
    
  }
  .loyenge-btn{
  margin: 70px auto O;  
  }
  .loyenge-btn a{ 
    text-transform: uppercase;
    width: 250px;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    margin: 0 15px;
    padding: 20px 0;
    color: #fff;
    border: .5px solid #fff;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
    cursor: pointer;
  }
  .loyenge-btn a span{
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
  }
  .loyenge-btn a:hover span{
    width: 100%;
    cursor: pointer;
  }
  .loyenge-btn a:hover{
    color:black ;
  }
  
  /* Etudiant */
  
  #etudiant{
    width: 100%;
    padding: 70px 0;
    background: #e4dbdb;
  }
  .titre-text{
    text-align: center;
    padding-bottom: 70px;
  }
  #grand-titre{
    margin: auto;
    font-size: 50px;
    color: rgba(48, 48, 182, 0.829);
    font-weight: bolder;
    letter-spacing: 3px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
  }
  #sous-titre{
    margin: auto;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
  }
  .etudiant-article{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
  }
  .self-article{
    flex-basis: 30%;
   text-align: center; 
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
  }
  .self-article img{
    width: 100%;
    border-radius: 7px;
  }
  .over{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(190, 186, 186, 0.5), rgba(21, 21, 168, 0.849));
    opacity: 0;
    transition: 1s;
  }
  .self-article:hover .over{
    opacity: 1;
  }
  .description{
    width: 85%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
  }
  .description p{
    font-size: 11px;
  }
  .self-article:hover .description {
    bottom: 20%;
    opacity: 1;
    cursor: pointer;
  }
  /* A propos */
  #propos{
    width: 100%;
    padding: 70px 0;
  }
  .propos-row{ 
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .propos-col{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #00968814;
    cursor: pointer;
    transition: transform .5s;
    }
    .propos-col p{
      font-size: 16px;
    }
    .propos-col:hover{
      transform: translateY(7px) ;
    }