@mixin flexmid {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flexline {
    display: inline-flex;
    align-items: center;
}
@mixin Flex{
    display: flex;
    align-items: center;
}
@mixin disBlock {
    display: block;
}
@mixin back {
    background-image: url('./img/fond.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;  
    box-sizing: border-box;    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    @include back();
}
// #loyenge{
//     // @include back();
//     // box-sizing: border-box;
// }
// navigation bar
.menubar{
    background: #7654d3
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
    .logo{
        display: inline-flex;
        align-items: center;
        img{
            height: 30px;
            width: 30px;
        }
        h2{
            margin-left: 10px;
            color: white;
            cursor: pointer;
            span{
                color: #ea1538;
            }
        }
    }
    ul{
        li{
            list-style-type: none;
            display: inline-flex;
            padding: 5px 20px;
            a{
                color: white;
                text-decoration: none;
                font-weight: bold;
                padding: 8px;
                transition: all .3s;
                background: none;
                &:hover{
                    color: #ea1538;
                    border-bottom: 2px solid #fff;
                    border-radius: 10px;
                }
            }
        }
    }
    a{
        color: white;
        text-decoration: none;
        padding: 12px 30px;
        background: #ea1538;
        border-radius: 30px;
        font-weight: bold;
        font-size: 16;
        transition: all .3s;
        cursor: pointer;
        &:hover{
            transform: scale(1.2);
        }
    }
}
.container{
    @include Flex();
    justify-content: space-around;
    height: 100vh;
    .noteblock{
        @include flexMid();
        flex-direction: column;
            text-align: right;
        
        input{
            width: 3%;
            outline: none;
            // border: none;
            text-align: center;
        }
    }
}