@mixin flexMid{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin Flex{
    display: flex;
    align-items: center;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    @include Flex();
    justify-content: space-around;
    height: 100vh;
    .noteblock{
        @include flexMid();
        flex-direction: column;
            text-align: right;
        
        input{
            width: 3%;
            outline: none;
            // border: none;
            text-align: center;
        }
    }
}