
/* background slider */
*{
    margin: 0;
    padding: 0;
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    animation: slide 20s infinite;
    /* transition: slide 20s; */
    background-image: url('../Assets/HOME PAGE/img/1.jpg');
}
@keyframes slide{
    0%{
        background-image: url('../Assets/HOME PAGE/img/2.jpg');
    }
    10%{
        background-image: url('../Assets/HOME PAGE/img/3.jpg');
    }
    20%{
        background-image: url('../Assets/HOME PAGE/img/4.jpg');
    }
    30%{
        background-image: url('../Assets/HOME PAGE/img/5.jpg');
    }
    40%{
        background-image: url('../Assets/HOME PAGE/img/6.jpg');
    }
    50%{
        background-image: url('../Assets/HOME PAGE/img/7.jpg');
    }
}
/* Navbar */
.navbar{
    /* background: #01aa05; */
    align-items: center;
    width: 100%;
}
.menu-bar ul{
    display: inline-flex;
    justify-content: center;
    list-style: none;
    color: #fff;
    padding: 10px;
    margin-left: 2px;
    /* border-bottom: 1px dashed #fff; */
}
.menu-bar ul h1{
    color: rgb(209, 193, 49);
    font-size: 40px;
}
.menu-bar ul h2{
    color: pink;
    margin: 25px 1px;
    font-size: 18px;
  
}
.navbar .menu-bar ul{
    justify-content: center;
    text-align: center;
} 

.menu-bar ul li{
    width: 30px;
    margin: 5px 40px;
    padding: 20x;
    text-align: center;
}
.menu-bar ul li a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
}
/* .menu-bar ul li:hover{
   background:rgb(59, 185, 137) ;
   border-radius: 7px; 
   transition: 1s;
} */
.menu-bar ul li a:hover{
    background: #111;
}
.navright{
    margin-left: 150px;
}