body{
    background-color: whitesmoke;
}
.forme{
    background-color: rgb(7, 50, 74);
    padding: 15px;
    border-radius: 10px;
}
.identi{
    margin-top: 5%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
.container
{
    border: 10px solid transparent;
    padding: 15px;
    color: white;
    margin-top: 1%;
    margin-bottom: 1%;
    
}
.photo-ceni{
    margin-left: 0%;
}
.num{
    transition:0.9s;
    position: relative;
    width: 15px;
    border-radius: 50%;
    padding: 20px;
    cursor: pointer;
    border: 1px solid white;
    overflow: hidden;
    background-image: url("img/searchbleu.png");
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: 45% 50%;
    font-size: 20px;
}
.num:hover{
    border: 1px solid navy;
}
.num:focus{
    width: 100%;
    cursor: text;
    border-radius: 5px;
    padding-left: 40px;
    color: white;
    outline: none;
    background-color: transparent;
    border: solid 1px navy;
    background-image: url("img/search.png");
    background-size: 22px;
    background-position: 10px 50%;
}
video{
    object-fit: cover;
    position: absolute;
    top: 0%;
    z-index:-1;
    left: 0;
    width: 100%;
}
#erreur{
    background-color:silver;
    border-radius:10px;
    text-align: center;
    font-size: 20px;
    animation-name: msg_erreur;
    animation-duration: 3s;
}
/*animation*/
@keyframes msg_erreur {
   from{
        opacity:0;
   } 
   to{
       opacity:1;
   }
}

/*Responsive*/

@media (max-width:720px) {
    .forme{
        margin-top: 30%;
    }
    video{
        height: 150%;
    }
}


